.app {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-application-button {
  margin-right: 10rem;
}

.application-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  max-width: 40rem;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.form-actions button {
  width: auto;
  padding: 0.4rem 0.8rem;
}